@use "transition.scss";
@use "text.scss";
@use "sidebar.scss";
@use "tab.scss";
@use "tooltip.scss";
@use "button.scss";
@use "message.scss";

body {
  margin: 0;
}

.vert-flex {
  display: flex;
  flex-direction: column;
}

.flex-element {
  flex-grow: 1;
}

.content-center {
  display: grid;
  place-items: center;
}