.sidebar {
  width: 120px;
  height: 100vh;
  background-color: #fff;
  border-right: 2px solid #000;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  z-index: 100;
}

.sidebar-header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #000;
}

.sidebar-header-text {
  color: #000000;
  font-size: 16px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.sidebar-element {
  position: relative;
  width: 100%;
}

.sidebar-button {
  width: 100%;
  height: 60px;
  border: none;
  border-bottom: 2px solid #000;
  background-color: #fff;
  text-align: center;
  transition: background-color 0.2s ease;
  position: relative;
}

.sidebar-button:hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.sidebar-button-text {
  color: #000000;
  font-size: 16px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.sidebar-sub-menu {
  position: absolute;
  bottom: 0;
  left: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: white;
  border: 2px solid #000;
  border-right: none;
  border-top: none;
  display: flex;
  flex-direction: row;
  width: auto;
  z-index: 10;
}

.sidebar-sub-menu::after {
  content: '';
  position: absolute;
  top: -2px;
  left: 0;
  height: 10px;
  box-sizing: content-box;
  width: 100%;
  border-top: 2px solid #000;
}

.sidebar-sub-menu-element {
  position: relative;
  height: 100%;
}

.sidebar-sub-menu-button {
  height: 100%;
  width: 60px;
  background-color: transparent;
  border: none;
  border-right: 2px solid #000;
  text-align: center;
  position: relative;
}

.sidebar-sub-menu-button:hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.sidebar-sub-menu-button-text {
  color: #000000;
  font-size: 16px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.chosen-button-left {
  background: linear-gradient(to right, grey 0%, white 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 100%;
}

.chosen-button-top {
  background: linear-gradient(to bottom, grey 0%, white 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
}

.sidebar-alert {
  position: absolute;
  top: 3px;
  right: 3px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  font-size: 7px;
  background-color: red;
}