sub {
  vertical-align: baseline;
  transform: translateY(0.3em) scale(0.8); /* 向下移动并缩小字号 */
  display: inline-block; /* transform 需要 block 或 inline-block */
}

.main-text, .text-box {
  text-align: center;
}

.text-left {
  text-align: left;
}

.large {
  font-size: 1.25em;
}

.large2 {
  font-size: 1.5625em;
}

.small {
  font-size: 0.8em;
}

.small2 {
  font-size: 0.64em;
}

.fixed-width-number {
  position: relative;
  display: inline-block;
  text-align: right;
}

.width-30 {
  width: 30px;
}

.A-text {
  color: #f00
}